<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t("project.all.by_local_authority.title") %>
    </h1>

    <%= render partial: "local_authority_table", locals: {local_authorities: @local_authorities, pager: @pager} %>
  </div>
</div>
