<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <%= t("project.academy_urn.not_found.title", academy_urn: @academy_urn) %>
    </h1>

    <%= t("project.academy_urn.not_found.body_html") %>

    <div class="govuk-button-group">
      <%= govuk_button_link_to t("project.academy_urn.not_found.enter_urn_again"), project_academy_urn_path(@project) %>
      <%= govuk_link_to t("cancel"), without_academy_urn_service_support_projects_path %>
    </div>
  </div>
</div>
