<% @notes.each_with_index do |note, index| %>
  <% unless index == 0 %>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <% end %>

  <span class="govuk-caption-m"><%= note.created_at.to_date.to_formatted_s(:govuk) %></span>
  <h3 class="govuk-heading-m"><%= note.user.email %></h3>

  <p class="govuk-body"><%= note.body %></p>
<% end %>
