<% @notes.each_with_index do |note, index| %>
  <% unless index == 0 %>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <% end %>

  <span class="govuk-caption-m"><%= note.created_at.to_date.to_formatted_s(:govuk) %></span>
  <h3 class="govuk-heading-m"><%= note.user.full_name %></h3>

  <%= render_markdown(note.body) %>

  <% if policy(note).edit? %>
    <p class="govuk-body govuk-!-font-size-16"><%= govuk_link_to "Edit", edit_project_note_path(@project, note) %></p>
  <% end %>
<% end %>
