<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/your_projects_primary_navigation" %>
<% end %>

<div class="govuk-grid-row">
 <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("project.user.added_by.title") %>
    </h1>

    <%= render partial: "projects/shared/new_projects" if policy(:project).new? %>

    <%= render partial: "/projects/shared/in_progress_table", locals: {projects: @projects, pager: @pager} %>

  </div>
</div>
