# Environment for Microsoft SQL Server
# https://hub.docker.com/_/microsoft-mssql-server
#
# MSSQL_SA_PASSWORD must be at least 8 characters including uppercase, lowercase letters, base-10 digits and/or non-alphanumeric symbol
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=
