/*
!/*/
!/.prettierrc
!/*.json
!/*.md
/.bundle/
/bin/
/config/
/log/
/script/
/storage/
/tmp/
/vendor/
.keep
*.coffee
*.enc
*.erb
*.haml
*.ico
*.jpg
*.png
*.rake
*.rb
*.ru
*.sh
*.txt
*.gz
/public/assets/*
/coverage
/terraform
/.idea/
