.govuk-checkboxes__item {
  label {
    @extend .govuk-\!-font-weight-bold;
  }

  .hint {
    display: block;
    padding-right: govuk-spacing(3);
    padding-left: govuk-spacing(3);

    p {
      @extend .govuk-hint;

      a {
        @extend .govuk-link;
      }
    }
  }

  .guidance {
    display: block;
    padding-right: govuk-spacing(3);
    padding-left: govuk-spacing(3);

    p {
      @extend .govuk-body;

      a {
        @extend .govuk-link;
      }
    }

    ul {
      @extend .govuk-list;
      @extend .govuk-list--bullet;
    }

    ol {
      @extend .govuk-list;
      @extend .govuk-list--number;
    }
  }
}
