<% if policy(:project).new? %>
  <div class="govuk-button-group">
    <%= link_to t("conversion_project.voluntary.new.title"),
          conversions_new_path,
          class: "govuk-button",
          data: {module: "govuk-button"} %>
  </div>
<% end %>
