<% if policy(:project).new? %>
  <div class="govuk-button-group">
    <%= link_to t("new_project_form.button"),
          new_project_path,
          class: "govuk-button",
          data: {module: "govuk-button"} %>
  </div>
<% end %>
