<% if policy(:project).new? %>
  <div class="govuk-button-group">
    <%= link_to t("conversion_project.new.title"),
          conversions_new_path,
          class: "govuk-button",
          data: {module: "govuk-button"} %>
    <%= link_to t("conversion_project.form_a_mat.new.title"),
          conversions_new_mat_path,
          class: "govuk-button",
          data: {module: "govuk-button"} %>
    <%= link_to t("transfer_project.new.title"),
          transfers_new_path,
          class: "govuk-button",
          data: {module: "govuk-button"} %>
  </div>
<% end %>
