<nav class="moj-sub-navigation" aria-label="Project index sub-navigation">
  <ul class="moj-sub-navigation__list">

    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.in_progress_projects"), path: root_path} %>

    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.completed_projects"), path: completed_user_projects_path} %>

    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.unassigned_projects"), path: unassigned_regional_casework_services_projects_path} if policy(:project).unassigned? %>

  </ul>
</nav>
