<div id="academyDetails">
  <h3 class="govuk-heading-m"><%= t("project_information.show.academy_details.title") %></h3>
  <%= govuk_summary_list(actions: false) do |summary_list|
        summary_list.row do |row|
          row.key { t("project_information.show.academy_details.rows.academy_name") }
          row.value { (academy.name + "<br/>" + link_to_school_on_gias(academy.urn)).html_safe }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.academy_details.rows.urn") }
          row.value { academy.urn.to_s }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.academy_details.rows.school_type") }
          row.value { academy.type }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.academy_details.rows.age_range") }
          row.value { age_range(academy) }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.academy_details.rows.school_phase") }
          row.value { academy.phase }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.academy_details.rows.sharepoint_folder") }
          row.value { safe_link_to(t("project_information.show.academy_details.values.sharepoint_folder"), project.establishment_sharepoint_link) }
        end
      end %>
</div>
