<div id="outgoingTrustDetails">
  <h3 class="govuk-heading-m"><%= t("project_information.show.outgoing_trust_details.title") %></h3>
  <%= govuk_summary_list(actions: false) do |summary_list|
        summary_list.row do |row|
          row.key { t("project_information.show.outgoing_trust_details.rows.outgoing_trust_name") }
          row.value { (outgoing_trust.name + "<br/>" + link_to_trust_on_gias(outgoing_trust.ukprn)).html_safe }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.outgoining_trust_details.rows.address") }
          row.value { address_markup(outgoing_trust.address) }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.outgoing_trust_details.rows.ukprn") }
          row.value { outgoing_trust.ukprn.to_s }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.outgoing_trust_details.rows.group_identifier") }
          row.value { outgoing_trust.group_identifier.to_s }
        end
        summary_list.row do |row|
          row.key { t("project_information.show.outgoing_trust_details.rows.companies_house_number") }
          row.value {
            if outgoing_trust.companies_house_number.present?
              (outgoing_trust.companies_house_number +
               "<br/>" +
               link_to_companies_house(outgoing_trust.companies_house_number)).html_safe
            end
          }
        end
      end %>
</div>
