<div id="reasonsFor" class="project-information-block">
  <h3 class="govuk-heading-m"><%= t("project_information.show.reasons_for.transfer.title") %></h3>
  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.reasons_for.two_requires_improvement.transfer_project.title") }
          row.with_value { t("project_information.show.#{project.two_requires_improvement}") }
          row.with_action(text: "Change", href: transfers_edit_path(@project, anchor: "two-requires-improvement"), visually_hidden_text: "the two requires improvement response")
        end
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.reasons_for.inadequate_ofsted.transfer_project.title") }
          row.with_value { t("project_information.show.#{project.tasks_data.inadequate_ofsted}") }
        end
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.reasons_for.financial_safeguarding_governance_issues.transfer_project.title") }
          row.with_value { t("project_information.show.#{project.tasks_data.financial_safeguarding_governance_issues}") }
        end
      end %>
</div>
