<div class="govuk-!-margin-bottom-9">
  <%= @form.govuk_check_box @attribute,
    1,
    0,
    multiple: false,
    link_errors: true,
    label: { text: @label, class: "govuk-!-font-weight-bold" },
    hint: {text: @hint }
  %>
  <% if @guidance %>
    <%= govuk_details(summary_text: @guidance_link) do %>
      <%= @guidance %>
    <% end %>
  <% end %>
</div>
