<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("project.regional_casework_services.completed.title") %>
    </h1>

    <%= render partial: "projects/shared/project_index_sub_navigation" %>

    <%= render partial: "/projects/shared/completed_table", locals: {projects: @projects, pager: @pager} %>

  </div>
</div>
