<% if @flashes.present? %>
  <% @flashes.each do |type, msg| %>
    <% if type == "notice" %>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
    <% else %>
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
    <% end %>
      <div class="govuk-notification-banner__content">
        <div class="flash <%= type %>">
          <%= msg.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
