<% if member_of_parliament %>
  <h3 class="govuk-heading-m"><%= t("contact.index.parliamentary_contacts_heading") %></h3>

  <div id="memberOfParliamentDetails" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        <%= t("helpers.contact_types.member_of_parliament") %>
      </h3>
    </div>

    <div class="govuk-summary-card__content">
      <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { t("contact.details.name") }
          row.with_value { member_of_parliament.name }
        end
        if member_of_parliament.email.present?
          summary_list.with_row do |row|
            row.with_key { t("contact.details.email") }
            row.with_value { member_of_parliament.email }
          end
        end
      end %>
    </div>
  </div>
<% end %>
