<%= render partial: "projects/shared/signed_in_as", locals: {email_address: current_user.email} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t("project.all.in_progress.sponsored.title") %>
    </h1>

    <%= render partial: "/projects/shared/in_progress_table", locals: {projects: @projects, pager: @pager} %>
  </div>
</div>
