<h2 class="govuk-heading-l" id="projectDetails"><%= t('project_information.show.project_details.title') %></h2>
<%= govuk_summary_list do |summary_list|
  summary_list.row do |row|
    row.key { t('project_information.show.project_details.rows.delivery_officer') }
    row.value { @project.delivery_officer&.email or t('project.summary.delivery_officer.unassigned') }
  end
end %>

<h2 class="govuk-heading-l" id="schoolDetails"><%= t('project_information.show.school_details.title') %></h2>
<%= govuk_summary_list do |summary_list|
  summary_list.row do |row|
    row.key { t('project_information.show.school_details.rows.original_school_name') }
    row.value { @project.establishment.name }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.school_details.rows.old_urn') }
    row.value { @project.urn.to_s }
  end
end %>