<%= render partial: "projects/shared/signed_in_as", locals: {email_address: current_user.email} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("project.conversion_date_changed.title", date: @date) %>
    </h1>
    <%= render partial: "/projects/shared/conversion_date_changed_table", locals: {projects: @projects, date: @date} %>
  </div>
</div>
