<div id="advisoryBoardDetails" class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">
      <%= t("project_information.show.advisory_board_details.title") %>
    </h3>
  </div>
  <div class="govuk-summary-card__content">
    <%= govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key { t("project_information.show.advisory_board_details.rows.advisory_board_date") }
            row.with_value { project.advisory_board_date.to_date.to_formatted_s(:govuk) }
            if project.type == "Conversion::Project"
              row.with_action(text: "Change", href: conversions_edit_path(@project, anchor: "advisory-board"), visually_hidden_text: "the advisory board date")
            else
              row.with_action(text: "Change", href: transfers_edit_path(@project, anchor: "advisory-board"), visually_hidden_text: "the advisory board date")
            end
          end
          summary_list.with_row do |row|
            row.with_key { t("project_information.show.advisory_board_details.rows.advisory_board_conditions") }
            row.with_value { simple_format(project.advisory_board_conditions, class: "govuk-body") }
            if project.type == "Conversion::Project"
              row.with_action(text: "Change", href: conversions_edit_path(@project, anchor: "advisory-board"), visually_hidden_text: "the advisory board conditions")
            else
              row.with_action(text: "Change", href: transfers_edit_path(@project, anchor: "advisory-board"), visually_hidden_text: "the advisory board conditions")
            end
          end
        end %>
  </div>
</div>
