<div id="projectDetails" class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">
      <%= t("project_information.show.project_details.title") %>
    </h3>
  </div>
  <div class="govuk-summary-card__content">
    <%= govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key { t("project_information.show.project_details.rows.type") }
            row.with_value { t("project_information.show.project_details.values.#{project.type_locale}") }
          end
          summary_list.with_row do |row|
            row.with_key { t("project_information.show.project_details.rows.date.#{project.type_locale}") }
            row.with_value { significant_date(project) }
          end
          summary_list.with_row do |row|
            row.with_key { t("project_information.show.project_details.rows.local_authority") }
            row.with_value { project.establishment.local_authority_name }
          end
          summary_list.with_row do |row|
            row.with_key { t("project_information.show.diocese_details.rows.diocese") }
            row.with_value { project.establishment.diocese_name }
          end
          summary_list.with_row do |row|
            row.with_key { t("project_information.show.project_details.rows.region") }
            row.with_value { project.establishment.region_name }
          end
          summary_list.with_row do |row|
            row.with_key { t("project_information.show.project_details.rows.group") }
            if project.group.present?
              row.with_value { project.group.group_identifier }
            else
              row.with_value { t("project_information.show.project_details.values.no_group") }
            end
            if project.is_a?(Transfer::Project)
              row.with_action(text: "Change", href: transfers_edit_path(@project, anchor: "group-reference-number"), visually_hidden_text: "the group reference number")
            end
            if project.is_a?(Conversion::Project)
              row.with_action(text: "Change", href: conversions_edit_path(@project, anchor: "group-reference-number"), visually_hidden_text: "the group reference number")
            end
          end
        end %>
  </div>
</div>
