<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_back_link(href: all_export_risk_protection_arrangement_projects_path) %>
    <h1 class="govuk-heading-xl"><%= t("export.risk_protection_arrangement.show.title", date: @month.to_fs(:govuk_month)) %></h1>
    <div class="govuk-body">
      <%= t("export.risk_protection_arrangement.show.body_html") %>
    </div>
    <div class="govuk-form-group">
      <%= govuk_button_link_to t("export.risk_protection_arrangement.show.button"), "/projects/all/export/risk-protection-arrangement/#{@month.month}/#{@month.year}/csv" %>
    </div>
  </div>
</div>
