<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(title_text: "Project completed") %>

    <h2 class="govuk-heading-m">What to do next</h2>
    <p class="govuk-body">Go back to your project list and choose another project to work on.</p>

    <%= govuk_button_link_to t("project.complete.back_link"), root_path %>
  </div>
</div>
