<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Reduced support service
    </h3>
    <p class="govuk-body">
      Email the Service Support team at <a href="mailto:regionalservices.rg@education.gov.uk">regionalservices.rg@education.gov.uk</a> if you have an urgent problem using this service from Friday 22 December 2023 to Monday 3 January 2024. Normal query support will resume in the new year.
    </p>
  </div>
</div>
