<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" id="projectInternalContacts">
    <h2 class="govuk-heading-l"><%= t("contact.index.internal_contacts") %></h2>
    <%= govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key { t("contact.internal_contacts.assigned_to") }
            row.with_value { display_name(project.assigned_to) }
            if project.assigned_to.present?
              row.with_action(text: "Email", href: mail_to_path(project.assigned_to.email), visually_hidden_text: "assigned to user")
            end
            if policy(:assignment).edit_assigned_user?
              row.with_action(href: project_internal_contacts_assigned_user_edit_path(project), visually_hidden_text: "assigned to user")
            end
          end
          summary_list.with_row do |row|
            row.with_key { t("contact.internal_contacts.assigned_to_team") }
            row.with_value { t("teams.#{project.team}") }
            if policy(:assignment).edit_team?
              row.with_action(href: project_internal_contacts_team_edit_path(project), visually_hidden_text: "assigned to team")
            end
          end
          summary_list.with_row do |row|
            row.with_key { t("contact.internal_contacts.added_by") }
            row.with_value { display_name(project.regional_delivery_officer) }
            if project.regional_delivery_officer.present?
              row.with_action(text: "Email", href: mail_to_path(project.regional_delivery_officer.email), visually_hidden_text: "added by user")
            end
            if policy(:assignment).edit_added_by_user?
              row.with_action(href: project_internal_contacts_added_by_user_edit_path(project), visually_hidden_text: "added by user")
            end
          end
        end %>
  </div>
</div>
