<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Scheduled maintenance on Wednesday evening
    </h3>
    <p class="govuk-body">We will carry out maintenance on Complete from 5pm to 6pm on Wednesday 6 March.</p>
    <p class="govuk-body">Project <b>changes will not be saved</b> during the maintenance.</p>
    <p class="govuk-body">Make sure you save your changes before the work starts.</p>
  </div>
</div>
