<nav class="moj-sub-navigation" aria-label="Project sub-navigation">
  <ul class="moj-sub-navigation__list">

    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.project_task_list"), path: path_to_project_task_list(@project)} %>

    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.project_information"), path: path_to_project_information(@project)} %>

    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.notes"), path: path_to_project_notes(@project)} %>

    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.contacts"), path: path_to_project_contacts(@project)} %>

  </ul>
</nav>
