<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">URN <%= @project.urn %></span>
    <h1 class="govuk-heading-l"><%= @project.establishment.name %></h1>

    <%= govuk_summary_list(actions: false) do |summary_list|
        summary_list.row do |row|
          row.key { t('project.summary.proposed_opening_date.title') }
          row.value { Date.parse(@project.conversion_project.proposed_opening_date).strftime("%-d %B %Y") }
        end
        summary_list.row do |row|
          row.key { t('project.summary.incoming_trust.title') }
          row.value { @project.conversion_project.name_of_trust }
        end
        summary_list.row do |row|
          row.key { t('project.summary.local_authority.title') }
          row.value { @project.establishment.local_authority }
        end
      end %>

    <% if policy(@project).edit? %>
      <p class="govuk-body">
        <%= link_to t('project.show.edit_button.text'), edit_project_path(@project), class: "govuk-link" %>
      </p>
    <% end %>

  </div>
</div>
