<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">URN <%= @project.urn %></span>
    <h1 class="govuk-heading-l"><%= @project.establishment.name %></h1>

    <%= govuk_summary_list(actions: false, html_attributes: {id: "project-summary"}) do |summary_list|
          summary_list.row do |row|
            row.key { t("project.summary.incoming_trust.title") }
            row.value { @project.trust.name }
          end
          summary_list.row do |row|
            row.key { t("project.summary.target_completion_date.title") }
            row.value { @project.target_completion_date.to_formatted_s(:govuk) }
          end
          summary_list.row do |row|
            row.key { t("project.summary.local_authority.title") }
            row.value { @project.establishment.local_authority }
          end
          summary_list.row do |row|
            row.key { t("project.summary.region.title") }
            row.value { @project.establishment.region_name }
          end
        end %>

    <% if policy(@project).edit? %>
      <p class="govuk-body">
        <%= link_to t("project.show.edit_button.text"), edit_project_path(@project), class: "govuk-link" %>
      </p>
    <% end %>

  </div>
</div>
