<nav class="moj-sub-navigation" aria-label="Sub-navigation">
  <ul class="moj-sub-navigation__list">
    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.active_users"), path: service_support_users_active_path} %>
    <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.inactive_users"), path: service_support_users_inactive_path} %>
  </ul>
</nav>
