<h1 class="govuk-heading-l">Complete conversions, transfers and changes</h1>

<% if @projects.empty? %>

<h2 class="govuk-heading-m">You have no projects</h2>

<p>That's quite sad. Why not start a new one?</p>

<% else %>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Existing projects</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Project</th>
      <th scope="col" class="govuk-table__header">Created at</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @projects.each do |project| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= link_to "Project ##{project.id}", project_path(project)  %></th>
        <td class="govuk-table__cell"><%= project.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<p><%= link_to "Add an new project",
  new_project_path,
  class: 'govuk-button',
  data: {module: "govuk-button"}
%></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p><%= link_to "See the prototype task list",
  tasks_path,
  class: 'govuk-button govuk-button--secondary',
  data: {module: "govuk-button"}
%></p>
