<h1 class="govuk-heading-l"><%= t("service_name") %></h1>

<p><%= link_to "See the prototype task list",
  tasks_path,
  class: 'govuk-button govuk-button--secondary',
  data: {module: "govuk-button"}
%></p>
