<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Project sub-navigation">
      <ul class="moj-sub-navigation__list">

        <%= render partial: "shared/sub_navigation_item", locals: {name: t("form_a_multi_academy_trust.tabs.projects"), path: form_a_multi_academy_trust_path(@project_group.trn)} %>

      </ul>
    </nav>
  </div>
</div>
