<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("pages.academies_api_client_unauthorised.title") %></h1>
    <p class="govuk-body">
      <%= t("pages.academies_api_client_unauthorised.body_text") %>
    </p>

    <p class="govuk-body">
      <%= t("pages.academies_api_client_unauthorised.email_help",
            email: support_email).html_safe %>
    </p>
  </div>
</div>
