<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("pages.api_client_timeout.title") %></h1>
    <p class="govuk-body">
      <%= t("pages.api_client_timeout.body_text") %>
    </p>

    <p class="govuk-body">
      <%= t("pages.api_client_timeout.email_help",
            team_name: t("service_name"),
            email: support_email).html_safe %>
    </p>
  </div>
</div>
