<% @contacts.each do |category, contacts| %>

  <h3 class="govuk-heading-m"><%= t("contact.index.category_heading", category_name: category.humanize) %></h3>

  <% contacts.each_with_index do |contact, index| %>

  <% unless index == 0 %>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <% end %>

  <%= govuk_summary_list do |summary_list|
        summary_list.row do |row|
          row.key { t("contact.details.title") }
          row.value { contact.title }
          row.action(
            text: t("contact.details.edit_link"),
            href: edit_project_contact_path(@project, contact),
            visually_hidden_text: contact.name
          )
        end
        summary_list.row do |row|
          row.key { t("contact.details.name") }
          row.value { contact.name }
        end
        summary_list.row do |row|
          row.key { t("contact.details.organisation_name") }
          row.value { contact.organisation_name }
        end
        if contact.email.present?
          summary_list.row do |row|
            row.key { t("contact.details.email") }
            row.value { contact.email }
          end
        end
        if contact.phone.present?
          summary_list.row do |row|
            row.key { t("contact.details.phone") }
            row.value { contact.phone }
          end
        end
      end %>

  <% end %>
<% end %>
