<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: root_path} %>
<% end %>

<%= render partial: "shared/project_summary" %>

<%= render partial: "shared/project_sub_navigation" %>

<h2 class="govuk-heading-l">Old task list (do not use!)</h2>
<%= render "projects/show/task_list" %>

<%= render "projects/show/complete" unless @project.completed? %>
