<% content_for :page_title do %>
  <%= page_title("Groups") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Groups
    </h1>

    <p>Schools and academies joining an existing trust together.</p>
    <p>Groups can include any type of conversion or transfer.</p>

  </div>
</div>
