<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("project.index.conversions.involuntary.title") %>
    </h1>

    <%= render partial: "/shared/projects/list", locals: {projects: @projects, pager: @pagy} %>
  </div>
