<% content_for :breadcrumbs do %>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to "Home", root_path, class: 'breadcrumbs__link' %>
    </li>
  </ol>
</div>

<% end %>

<h1 class="govuk-heading-l">Add a new project</h1>

<%= form_with model: @project, url: project_index_path do |form| %>
  <%= form.govuk_text_field :urn, placeholder: "134679", label: { text: "What is the existing school's URN?", tag: 'h3', size: 'm' } %>
  <%= form.govuk_submit %>
<% end %>
