<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t("service_support.title") %>
    </h1>

    <%= render partial: "shared/service_support_sub_navigation" %>

    <h2 class="govuk-heading-m"><%= t("service_support.section.without_urn.title") %></h2>

    <%= render partial: "/projects/shared/new_table", locals: {projects: @projects, pager: @pager} %>

  </div>
</div>
