<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(title_text: t("conversion_new_date_history_form.success.panel.title")) %>
    <%= t(
          "conversion_new_date_history_form.success.body_html",
          school_name: @project.establishment.name,
          urn: @project.urn,
          conversion_date: @project.conversion_date.to_formatted_s(:govuk),
          project_path: project_path(@project),
          projects_path: in_progress_your_projects_path
        ) %>
  </div>
</div>
