<%= render partial: "shared/project_summary" %>

<%= render partial: "shared/projects/sub_navigation" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render partial: "shared/projects/significant_date_header_section" %>

    <h2 class="govuk-heading-l">Transfer date history</h2>

    <%= render partial: "shared/projects/significant_dates_cards", locals: {dates: @dates} %>

  </div>
</div>
