<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Cookies</h1>
    <p class="govuk-body">Cookies are small files saved on your phone, tablet or
      computer when you visit a website.</p>
    <p class="govuk-body">We use cookies to make this site work and collect
      information about how you use our service.</p>
    <h2 class="govuk-heading-l">Essential cookies</h2>
    <p class="govuk-body">Essential cookies keep your information secure while you use
      <%= t("service_name") %>. We do not need to ask for permission to use them.</p>
    <table class="govuk-table" name="essential_cookies_table" aria-label="Essential cookies table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Purpose</th>
          <th class="govuk-table__header" scope="col">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SESSION</td>
          <td class="govuk-table__cell">Used to keep you signed in.</td>
          <td class="govuk-table__cell">With browser settings (Session).</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ACCEPT_OPTIONAL_COOKIES</td>
          <td class="govuk-table__cell">Used to store your preference.</td>
          <td class="govuk-table__cell">1 year.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ASLBSACORS</td>
          <td class="govuk-table__cell">Used to balance the load on our servers.</td>
          <td class="govuk-table__cell">With browser settings (Session).</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ASLBSA</td>
          <td class="govuk-table__cell">Used balance the load on our servers.</td>
          <td class="govuk-table__cell">With browser settings (Session).</td>
        </tr>
      </tbody>
    </table>

    <%= render "cookies_form" %>
  </div>
</div>
