<div id="schoolDetails" class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">
      <%= t("project_information.show.school_details.title") %>
    </h3>
  </div>
  <div class="govuk-summary-card__content">
  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.school_details.rows.original_school_name") }
          row.with_value { (establishment.name + "<br/>" + link_to_school_on_gias(establishment.urn)).html_safe }
        end
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.school_details.rows.urn") }
          row.with_value { establishment.urn.to_s }
        end
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.school_details.rows.school_type") }
          row.with_value { establishment.type }
        end
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.school_details.rows.age_range") }
          row.with_value { age_range(establishment) }
        end
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.school_details.rows.school_phase") }
          row.with_value { establishment.phase }
        end
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.school_details.rows.address") }
          row.with_value { address_markup(establishment.address) }
        end
        summary_list.with_row do |row|
          row.with_key { t("project_information.show.school_details.rows.sharepoint_folder") }
          row.with_value { safe_link_to(t("project_information.show.school_details.values.sharepoint_folder"), project.establishment_sharepoint_link) }
          row.with_action(text: "Change", href: conversions_edit_path(@project, anchor: "sharepoint-folder-links"), visually_hidden_text: "the sharepoint folder link")
        end
      end %>
  </div>
</div>
