$govuk-font-url-function: "font-url";
$govuk-image-url-function: "image-url";

$govuk-global-styles: true;

@import "govuk-frontend/govuk/all";
@import "@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "accessible-autocomplete/src/autocomplete";

@import "components/task-list";

.list-style-none {
  list-style: none;
}

.task-checkboxes {
  .govuk-checkboxes__item {
    label {
      @extend .govuk-\!-font-weight-bold;
    }
  }
}
