// Import DfE Frontend early so it gets overidden
@import "dfefrontend";

// get the Inter font
@import url("https://rsms.me/inter/inter.css");

$govuk-font-url-function: "font-url";
$govuk-image-url-function: "image-url";
$govuk-global-styles: true;

// override the default page width
$govuk-page-width: 1200px;
$moj-page-width: $govuk-page-width;

// Use the DfE font 'Inter', do not user GDS Transport
$govuk-font-family: "Inter", sans-serif;

$dfe-blue: #003a69;

@import "govuk-frontend/govuk/all";
@import "accessible-autocomplete/src/autocomplete";


@import "@ministryofjustice/frontend/moj/settings/all";
@import "@ministryofjustice/frontend/moj/helpers/all";
@import "@ministryofjustice/frontend/moj/objects/all";
@import "@ministryofjustice/frontend/moj/components/primary-navigation/primary-navigation";
@import "@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "@ministryofjustice/frontend/moj/components/header/header";
@import "@ministryofjustice/frontend/moj/utilities/all";

@import "components/task-list";
@import "components/task_list/check-box-action-component";
@import "components/notification-banner";
@import "components/app-content";
@import "components/date-range";

@import "patterns/project-summary";

// The accessible autocomplete component does not use
// GOV.UK fonts by default for suggestions.
.autocomplete__wrapper * {
  @include govuk-typography-common();
}

.environment-banner {
  &.govuk-tag {
    display: block;
    padding-left: calc((100vw - #{$govuk-page-width}) / 2);

    @include govuk-media-query($until: $govuk-page-width + $govuk-gutter * 2) {
      padding-left: $govuk-gutter;
    }

    @include govuk-media-query($until: tablet) {
      padding-left: $govuk-gutter-half;
    }
  }
}

.list-style-none {
  list-style: none;
  padding-left: 0;
}

.govuk-section-break--s {
  @include govuk-responsive-margin(2, "top");
  @include govuk-responsive-margin(2, "bottom");
}

.projects-list {
  .project-summary {
    p {
      margin-block-end: 0;
    }

    @include govuk-media-query($from: desktop) {
      .row-container {
        display: flex;
        justify-content: space-between;
      }
    }

    @include govuk-media-query($until: desktop) {
      .govuk-section-break:not(:last-child) {
        display: none;
      }
    }
  }
}

address.govuk-address {
  font-style: normal;
}

.project-information-block {
  margin-bottom: 50px;
}

// MOJ header navigtion
// We want persitently acitve navigation items
.moj-header__navigation-link[aria-current] {
  color: govuk-colour("blue");
}

// Undo the changes the the DfE styles do to the MOJ styles
.moj-sub-navigation__item {
  margin-bottom: 0px;
}

// force skip link to be underline
.govuk-skip-link { text-decoration: underline !important; }

// force header and DfE navigation links to always be white
a.dfe-header__link--service, a.dfe-header__navigation-link {
  color: #ffffff;
}

.rerouting-match {
  color: govuk-colour("red");
  background-color: govuk-colour("red", $legacy: "lighten-20");
  font-weight: bold;
}

.pattern-match {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: bold;
}