$govuk-font-url-function: "font-url";
$govuk-image-url-function: "image-url";

$govuk-global-styles: true;

@import "govuk-frontend/govuk/all";
@import "@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "accessible-autocomplete/src/autocomplete";

@import "components/task-list";

// The accessible autocomplete component does not use
// GOV.UK fonts by default for suggestions.
.autocomplete__wrapper * {
  @include govuk-typography-common();
}

.environment-banner {
  &.govuk-tag {
    display: block;
    padding-left: calc((100vw - #{$govuk-page-width}) / 2);

    @include govuk-media-query($until: $govuk-page-width + $govuk-gutter * 2) {
      padding-left: $govuk-gutter;
    }

    @include govuk-media-query($until: tablet) {
      padding-left: $govuk-gutter-half;
    }
  }
}

.list-style-none {
  list-style: none;
  padding-left: 0;
}

.task-checkboxes {
  .govuk-checkboxes__item {
    label {
      @extend .govuk-\!-font-weight-bold;
    }
  }
}

.task-actions__wrapper {
  margin-bottom: govuk-spacing(9);
}

.task-action__wrapper {
  &:first-of-type {
    margin-top: 0;
  }

  &__padding-normal {
    margin-top: govuk-spacing(4);
  }

  &__padding-reduced {
    margin-top: govuk-spacing(2);
  }

  .govuk-form-group {
    margin-bottom: 0;
  }
}

.task-action {
  &__subheading:not(:first-of-type) {
    margin-top: govuk-spacing(9);
  }
}

.govuk-section-break--s {
  @include govuk-responsive-margin(2, "top");
  @include govuk-responsive-margin(2, "bottom");
}

.projects-list {
  .project-summary {
    p {
      margin-block-end: 0;
    }

    @include govuk-media-query($from: desktop) {
      .row-container {
        display: flex;
        justify-content: space-between;
      }
    }

    @include govuk-media-query($until: desktop) {
      .govuk-section-break:not(:last-child) {
        display: none;
      }
    }
  }
}
