<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with url: project_close_path(@project), method: :put do |form| %>
      <h3 class="govuk-heading-m"><%= t("project.close.heading") %></h3>
      <p class="govuk-body"><%= t("project.close.guidance") %></p>

      <%= form.govuk_submit t("project.close.submit_button") %>

    <% end %>

  </div>
</div>
