<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m" id="dao-revocation"><%= t("dao_revocations.title") %></h3>
    <p class="govuk-body"><%= t("dao_revocations.body_html") %></p>
    <%= link_to t("dao_revocations.button"), project_dao_revocation_start_path(@project), class: "govuk-button  govuk-button--secondary" %>
  </div>
</div>
