<ol class="app-task-list">
  <% @project.sections.each do |section| %>
    <li>
      <h3 class="app-task-list__section">
        <%= section.title %>
      </h3>
      <ul class="app-task-list__items">
        <% section.tasks.each do |task| %>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  <%= govuk_link_to(
                        task.title,
                        project_task_path(@project.id, task.id),
                        aria: {describedby: task_status_id(task.title)}
                      ) %>
              </span>
            <%= task_status_tag(task, task_status_id(task.title)) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
