<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @project.establishment.name %></span>
    <h1 class="govuk-heading-xl">Reasons for transfer date change</h1>

    <p>The new transfer date is <strong>Date</strong></p>

    Date is earlier
  </div>
</div>
